# Ignore Maven target folder
target/

# Ignore compiled Java files
*.class

# Ignore temporary files
*.log

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Build
target/
dist/
*.zip

# OS/Editor
.DS_Store
.vscode/
.idea/